# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# qt debug release folders
HelloC4J-build-Desktop_Qt_5_0_1_MinGW_32bit-Debug/
fractions-build-Desktop_Qt_5_0_1_MinGW_32bit-Debug/
collectfractions-build-Desktop_Qt_5_0_1_MinGW_32bit-Debug/
hiddenanddynamic-build-Desktop_Qt_5_0_1_MinGW_32bit-Debug/